In [ ]:
Age | Objective Feature | age | int (days)
Height | Objective Feature | height | int (cm) |
Weight | Objective Feature | weight | float (kg) |
Gender | Objective Feature | gender | categorical code |
Systolic blood pressure | Examination Feature | ap_hi | int |
Diastolic blood pressure | Examination Feature | ap_lo | int |
Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
Smoking | Subjective Feature | smoke | binary |
Alcohol intake | Subjective Feature | alco | binary |
Physical activity | Subjective Feature | active | binary |
Presence or absence of cardiovascular disease | Target Variable | cardio | binary |
All of the dataset values were collected at the moment of medical examination.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df =pd.read_csv('cardio_cleaned.csv')
df.head()

,id,age,gender,height,weight,systolic_BP,diastolic_BP,cholesterol,glucose,smoking status,alcohol_intake,physical_activity,cardio_disease
0,0,50,2,168.0,62,110,80,1,1,0,0,1,0
1,1,55,1,156.0,85,140,90,3,1,0,0,1,1
2,2,51,1,165.0,64,130,70,3,1,0,0,0,1
3,3,48,2,169.0,82,150,100,1,1,0,0,1,1
4,4,47,1,156.0,56,100,81,1,1,0,0,0,0

In [3]:
x= df.drop(['id', 'cardio_disease'], axis = 1)
y = df.cardio_disease
x

,age,gender,height,weight,systolic_BP,diastolic_BP,cholesterol,glucose,smoking status,alcohol_intake,physical_activity
0,50,2,168.0,62,110,80,1,1,0,0,1
1,55,1,156.0,85,140,90,3,1,0,0,1
2,51,1,165.0,64,130,70,3,1,0,0,0
3,48,2,169.0,82,150,100,1,1,0,0,1
4,47,1,156.0,56,100,81,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
69995,52,2,168.0,76,120,80,1,1,1,0,1
69996,61,1,158.0,72,140,90,2,2,0,0,1
69997,52,2,183.0,105,126,90,3,1,0,1,0
69998,61,1,163.0,72,135,80,1,2,0,0,0
69999,56,1,170.0,72,120,80,2,1,0,0,1

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size = 0.3, stratify = y, random_state = 2)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((49000, 11), (21000, 11), (49000,), (21000,))

In [4]:
scaler = StandardScaler()
scaler.fit(x)
std_data = scaler.transform(x)
x1 = std_data
x1

array([[-0.41980002,  1.36405487,  0.47406824, ..., -0.31087913,
        -0.23838436,  0.49416711],
       [ 0.31910983, -0.73310834, -1.10636521, ..., -0.31087913,
        -0.23838436,  0.49416711],
       [-0.27201805, -0.73310834,  0.07895988, ..., -0.31087913,
        -0.23838436, -2.02360695],
       ...,
       [-0.12423608,  1.36405487,  2.44961005, ..., -0.31087913,
         4.19490608, -2.02360695],
       [ 1.20580165, -0.73310834, -0.1844457 , ..., -0.31087913,
        -0.23838436, -2.02360695],
       [ 0.4668918 , -0.73310834,  0.73747381, ..., -0.31087913,
        -0.23838436,  0.49416711]])

In [6]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train, y_train)
lr_predict = lr.predict(x_test)
acc = accuracy_score(y_test, lr_predict)
acc

0.7235238095238096

In [8]:
inputed_data = (55,1,156.0,85,140,90,3,1,0,0,1)  
data_as_np = np.asarray(inputed_data)
inputed_reshaped = data_as_np.reshape(1,-1)

std_data = scaler.transform(inputed_reshaped)
print(std_data)
prediction = lr.predict(std_data)
print(prediction)


if (prediction[0] == 0):
    print('This person doesnt have heart disease')
else:
    print('This person has heart disease')

[[ 0.31910983 -0.73310834 -1.10636521  0.99859912  0.90708359  1.07466495
   2.40079294 -0.39571994 -0.31087913 -0.23838436  0.49416711]]
[1]
This person has heart disease

55,1,156.0,85,140,90,3,1,0,0,1
50,2,168.0,62,110,80,1,1,0,0,1- no

In [16]:
import pickle
filename = 'cardiovascular.sav'
pickle.dump(lr, open(filename, 'wb'))

In [17]:
lodedmodel = pickle.load(open(filename, 'rb'))

In [18]:
for column in x.columns:
    print(column)

age
gender
height
weight
systolic_BP
diastolic_BP
cholesterol
glucose
smoking status
alcohol_intake
physical_activity